$colors-brand-primary: #ff5724;
$colors-brand-primaryLight: #f28564;
$colors-other-blue: #1881d8;
$colors-text-primary: #111332;
$colors-text-reverse: #ffffff;
$colors-background-primary: #ffffff;
$colors-background-secondary: #f7f7f7;
$colors-background-tertiary: #dedede;
$colors-border-primary: #d0d0d0;
$colors-border-secondary: #d9d9d9;
$colors-status-success: #3da85f;
$colors-status-error: crimson;
