//Spacing
$spacer: 8px !default;
$spacing-05: $spacer * 0.5 !default;
$spacing-1: $spacer !default;
$spacing-2: $spacer * 2 !default;
$spacing-3: $spacer * 3 !default;
$spacing-4: $spacer * 4 !default;
$spacing-5: $spacer * 5 !default;
$spacing-6: $spacer * 6 !default;
$spacing-7: $spacer * 7 !default;
$spacing-8: $spacer * 8 !default;

$box-shadow-1:
	rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
	rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
	rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;

$box-shadow-2: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
