$colors-background-app: #fbfbfbff;
$colors-background-surface: #ffffffff;
$colors-text-primary: #333333ff;
$colors-text-secondary: #707070ff;
$colors-text-primaryInverse: #ffffffff;
$colors-text-secondaryInverse: #ffffffcc;
$colors-link-default: #007080ff;
$colors-link-hover: #333333ff;
$colors-link-defaultInverse: #ffffffcc;
$colors-link-hoverInverse: #ffffffff;
$colors-functional-success: #34826dff;
$colors-functional-successLight: #d1ffd9ff;
$colors-functional-successDark: #004d3aff;
$colors-functional-warning: #ffc100ff;
$colors-functional-warningLight: #fff1b8ff;
$colors-functional-warningDark: #664600ff;
$colors-functional-error: #bb0000ff;
$colors-functional-errorLight: #ffe0e0ff;
$colors-functional-errorDark: #80001dff;
$colors-functional-info: #1976d2ff;
$colors-functional-infoLight: #e8f4fdff;
$colors-functional-infoDark: #0d3c61ff;
$colors-brand-primary: #008799ff;
$colors-brand-primaryLight: #dff9f4ff;
$colors-brand-secondary: #f76b1cff;
$colors-brand-secondaryLight: #ffeae3ff;
$colors-brand-primaryAccessible: #007080ff;
$colors-feature-bidding: #3400ccff;
$colors-feature-biddingLight: #e0d6ffff;
$colors-feature-mapMatching: #3400ccff;
$colors-feature-broker: #008799ff;
$colors-feature-brokerLight: #dff9f4ff;
$colors-base-ecstasy: #f76b1cff;
$colors-base-ecstasy100: #ffeae3ff;
$colors-base-blueLagoon: #008799ff;
$colors-base-blueLagoon100: #dff9f4ff;
$colors-base-blueLagoon700: #007080ff;
$colors-base-blueLagoon800: #005a66ff;
$colors-base-black: #333333ff;
$colors-base-grey800: #555555ff;
$colors-base-grey700: #707070ff;
$colors-base-grey600: #9b9b9bff;
$colors-base-grey400: #d2d2d2ff;
$colors-base-grey300: #e3e3e3ff;
$colors-base-grey250: #edededff;
$colors-base-grey200: #f7f7f7ff;
$colors-base-grey100: #fbfbfbff;
$colors-base-white: #ffffffff;
$colors-base-red: #bb0000ff;
$colors-base-red100: #fff1f1ff;
$colors-base-red400: #ffe0e0ff;
$colors-base-red800: #80001dff;
$colors-base-green: #34826dff;
$colors-base-green100: #eefffcff;
$colors-base-green400: #d1ffd9ff;
$colors-base-green800: #004d3aff;
$colors-base-yellow: #ffc100ff;
$colors-base-yellow100: #fffdf3ff;
$colors-base-yellow400: #fff1b8ff;
$colors-base-yellow800: #664600ff;
$colors-base-deepPurple: #6733ffff;
$colors-base-deepPurple100: #eee8ffff;
$colors-base-deepPurple400: #e0d6ffff;
$colors-base-deepPurple800: #3400ccff;
$colors-base-blue: #1976d2ff;
$colors-base-blue200: #e8f4fdff;
$colors-base-blue800: #0d3c61ff;
$colors-base-pink: #c63461ff;
$colors-base-pink100: #efbdcfff;
$colors-base-pink400: #da507aff;
$colors-base-pink800: #9f2857ff;
