.logged-in .site-navigation {
	top: 32px;
}

.site-navigation {
	z-index: 1000;
	position: sticky;
	top: 0;
	background-color: $colors-background-primary;
	box-shadow: $box-shadow-1;

	.container {
		padding: $spacing-1 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: block;
		width: 50%;
		max-width: 160px;
	}

	.nav {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: $spacing-1;
	}
}
